<h1>Slides</h1>
<div class="reveal">
    <div class="slides">
        <section>
            <h2>I am a header</h2>
        </section>
        <section>Horizontal Slide</section>
        <section>
            <section>Vertical Slide 1</section>
            <section>Vertical Slide 2</section>
        </section>
        <section data-state="make-it-pop">Slide 2</section>
        <!-- data-visibility="uncounted"-->
        <section data-markdown>
            <textarea data-template>
                ## Slide 1
                A paragraph with some text and a [link](http://hakim.se).
                ---
                ## slide 2
                ---
                ## slide 3
            </textarea>
        </section>
    </div>
</div>
